#services {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .banner {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        img {
            height: 247px;
            max-width: 404px;
        }
        .wrapper {
            color: var(--black-2);
            flex-direction: column;
            font-family: 'Segoe UI';
            padding: var(--space);
            align-items: center;
            text-align: center;
            h1 {
                font-size: 25px;
            }
            p {
                margin-top: var(--space);
            }
        }
    }
    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 100px;
        .pair {
            flex-direction: column;
            .card {
                width: 291px;
                height: 244px;
                background-image: url('/assets/images/delivery-service.webp');
                background-size: cover;
                position: relative;
                color: var(--white);
                flex-direction: column;
                font-family: 'Segoe UI';
                padding: var(--space);
                justify-content: space-between;
                align-items: center;
                border-radius: 5px;
                margin-top: 25px;
                margin-bottom: 25px;
                .overlay {
                    position: absolute;
                    z-index: 2;
                    background-color: var(--black);
                    opacity: .5;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;  
                }
                .title {
                    margin-top: 10px;
                    z-index: 3;
                }
                p {
                    margin-top: 10px;
                    z-index: 3;
                }
                .button {
                    margin-top: 10px;
                    @include button-green;
                    z-index: 3;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #services {
        .cards {
            flex-direction: row;
            .pair {
                .card {
                    margin: var(--space);
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    #services {
        .cards {
            .pair {
                flex-direction: row;
            }
        }
    }
}

@media (min-width: 400px) {
    #services {
        .banner {
            img {
                max-width: unset;
                height: 300px;
            }
        }
    }
}

@media (min-width: 498px){
    #services {
        .banner {
            img {
                height: 325px;
            }
        }
    }
}

@media (min-width: 550px) {
    #services {
        .banner {
            img {
                height: 360px;
            }
        }
    }
}

@media (min-width: 720px) {
    #services {
        .banner {
            img {
                height: 400px;
            }
        }
    }
}

@media (min-width: 768px){
    #services {
        .banner {
            flex-direction: row-reverse;
            img {
                height: 300px;
            }
        }
    }
}

@media (min-width: 1024px) {
    #services {
        .banner {
            .wrapper {
                align-items: center;
                justify-content: space-around;
                h1 {
                    font-size: 35px;
                }
                p {
                    font-size: 20px;
                }
            }
            img {
                height: 400px;
            }
        }
    }
}

@media (min-width: 1200px) {
    #services {
        .banner {
            img {
                height: 500px;
            }
        }
    }
}