:root {

    --space: 20px;

    --bg-color: #F7F6F6;
    --white: #FFF;
    --black: #000;
    --black-2: #2D2D2D; 
    --gray-1: #666;
    --green-1: #2ECC71;
    --green-2: #1F8A4C;
    --blue-1: #288EE7;
    --blue-2: #00244A;
}